@media screen and (max-width:600px ){

    .flexbox  {
        display: flex;
        flex-direction: column;
        background-image: url(/הורדה.png); 
        background-size: cover;
        width: 20vw;
        height: 22vh;
        color:transparent;
        transition: all 2s;
        
        
        

    }

    .flexbox:hover{
        display: flex;
        flex-direction: column;
        color: rgb(221, 21, 21);
        background-image: none;
        
        
        
    }
}

@media screen and (min-width:600px) {
    
    .flexbox{
        display: flex;
        text-align: center;
        background-color: brown;
        justify-content: space-between;
        

    }

    
}



